body {
    background-color: #FBF8BE;
}

h1 {
    color: #234E70;
}

.menu {
    background-color: lightblue;
    text-align: center;
}

.menu ul{
    list-style-position: inside;
}

#about_me_font{
    font-family: 'Montserrat', sans-serif;
}