body {
    background-color: #FBF8BE;
}

header {
    text-align: center;
    background-color: lightblue;
}

h1 {
    color: #234E70; 
}

/* .menu {
    
} */

.menu ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center
}

.menu a{
    padding: 10px;
    display: inline-block;
}


.important_heading_font{
    font-family: 'Montserrat', sans-serif;
}

.about_me_article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:0 20px;
}



